{% extends "::base.html.twig" %}

{% block body %}
		<div class="vertical-center page-creative">
			<div class="container">
				<div class="jumbotron">
					<span class="pull-right"><a href="{{ path('homepage') }}">Revenir au mode survie</a></span>
					<ul class="nav nav-tabs">
  						<li role="presentation" class="{% if app.request.get('_route') == 'creative_stats' %}active{%endif%}"><a href="{{ path('creative_stats') }}">Statistiques</a></li>
  						<li role="presentation" class="{% if app.request.get('_route') == 'creative_contribute' %}active{%endif%}"><a href="{{ path('creative_contribute') }}">Contribuer</a></li>
  						<li role="presentation" class="active"><a href="{{ path('creative_moderate') }}">Modérer</a></li>
					</ul>
					<h2>Oops !</h2>
					<p>Il y a eu un problème lors de la connexion avec Facebook.</p>
					<p>Peut-être que votre que a été désactivé ?</p>
				</div>
			 </div>
		</div>

{% endblock %}